*{
    margin: 0;
    padding: 0;
}


#conteudo{
    display: flex;
    justify-content: space-between;
}

.cartao{
   
    background-color: #105158;
   border-radius: 20px;
   height: 20rem;
   flex-grow: 1;
   flex-basis: calc(33% - 6rem);
   margin: 1rem 1rem;
   font-size: 28px;
   text-align: center;

}

.cartao:hover .cartao--conteudo{
background-color: brown;
transform: rotateY(180deg);
}
.cartao--resposta{
    font-size: 20px;
}

.cartao--conteudo{
    background-color: aqua;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao--pergunta, .cartao--resposta{
    backface-visibility: hidden;
}

.cartao--resposta{
    transform: rotateY(180deg);
}

footer{
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-size: 14px;
    text-align: center;
}